* {
	margin: 0;
    padding: 0;
	font-family: "Gilroy-Bold", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

/* ---------- Header ------------ */

header{
	padding-block-end: 104px;
}

nav {
	display: flex;
	justify-content: space-around;
	padding: 50px;
}

nav a {
	text-decoration: none;
	color: #666;
	transition: 0.3s ease;
}

nav a:hover {
  color: black;
  transform: translateX(4px);
}

#now {
	color: black;
}

header hr{
	width: 80%;
	margin-left: 10%;
}

.Iam {
	display: flex;
	justify-content: space-between;
	padding-inline: 10%;
	align-items: center;
	padding-block: 40px;
}

.Iam ul {
	list-style: none;
	padding: 0;
	rotate: 270deg;
}

.Iam li {
	display: inline;
}

.Iam ul li a {
	text-decoration: none;
	color: #666;
}

.Iam ul li a:hover{
	color: black;
}

#Myimg {
	display: flex;
	justify-content: center;
}

#Myimg img {
	width: 80%;
}
/* ------------- About me -------------- */

.Aboutme{
	background: #F6F6F6;
	height: 506px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/*-------------- Skills -------------*/
.Skills	{	
	height: 610px;
}
/* ------------- Анимации -------------- */

[data-animate] {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.show {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

