* {
	margin: 0;
  padding: 0;
	font-family: 'Gilroy-Bold', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

/* ---------- Header ------------ */

header{
	padding-block-end: 104px;
}

nav {
	display: flex;
	justify-content: space-around;
	padding: 50px;
}

nav a {
	text-decoration: none;
	color: #666;
	transition: 0.3s ease;
}

nav a:hover {
  color: black;
  transform: translateX(4px);
}

#now {
	color: black;
}

header hr{
	width: 80%;
	margin-left: 10%;
}

.Iam {
	display: flex;
	justify-content: space-between;
	padding-inline: 10%;
	align-items: center;
	padding-block: 40px;
}

.Iam ul {
	list-style: none;
	padding: 0;
	rotate: 270deg;
}

.Iam li {
	display: inline;
}

.Iam ul li a {
	text-decoration: none;
	color: #666;
}

.Iam ul li a:hover{
	color: black;
}

#Myimg {
	display: flex;
	justify-content: center;
}

#Myimg img {
	width: 80%;
}
/* ------------- About me -------------- */

.Aboutme{
	background: #F6F6F6;
	height: 506px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.Aboutme h1{
	text-align: left;
	margin-right: 240px;
}

.Aboutme p {
	font-family: "Gilroy-Medium", sans-serif;
	text-align: center;
	font-size: 18px;
}


/*-------------- Skills -------------*/
.Skills	{	
	height: 610px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 90px;
}

.Skills p {
	margin-right: 35%;
	font-family: "Gilroy-Medium", sans-serif;
}

.base{
	list-style: none;
	display: flex;
	gap: 90px;
}

.base li {
	display: inline-block;
}

.Skillbox {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;

}

.Skillbox li {
	display: block;
}

.Skillbox li p {
	color: #666;
}

.Skillbox {
	transition: transform 0.3s ease;
}

.Skillbox:hover{
	transform: scale(1.1);
}
/* ------------- Animation -------------- */

[data-animate] {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.show {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* ----------- Add font ------------ */

    @font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold'), url('gilroy-bold-webfont/Gilroy-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Gilroy-Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy'), url('gilroy-bold-webfont/Gilroy-Heavy.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light'), url('gilroy-bold-webfont/Gilroy-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium'), url('gilroy-bold-webfont/Gilroy-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular'), url('gilroy-bold-webfont/Gilroy-Regular.woff') format('woff');
    }